.mat-select {
  width: 200px;
  font-size: 25px;
  color: black;
  text-shadow: 3px 3px green;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.mat-label{
  color: black;
  text-shadow: 3px 3px green;
}
.mat-form-field {
  font-size: 25px;
  color: black;
  text-shadow: 3px 3px green;
  padding: 0px;
}
