h2 {
  font-size: 100px;
  padding: 10px;
  margin: 0px;
  text-align: center;
  color: black;
  text-shadow: 4px 4px rgb(138, 137, 137);
}
div.input {
  display: flex;
  justify-content: right;
  color: black;
  text-shadow: 2px 2px rgb(138, 137, 137);
  margin-right: 35px;
}
button {
margin-left: 5px;
}
