<div>
  <h1>
    Chamber of Secrets
  </h1>
  <h2>
    "Reliable historical sources tell us this much. But these honest facts have been obscured by the fanciful legend of the Chamber of Secrets. The story goes that Slytherin had built a hidden chamber in the castle, of which the other founders knew nothing. Slytherin, according to the legend, sealed the Chamber of Secrets so that none would be able to open it until his own true heir arrived at the school. The heir alone would be able to unseal the Chamber of Secrets, unleash the horror within, and use it to purge the school of all who were unworthy to study magic."
— The legend of the Chamber of Secrets
  </h2>
  </div>
  <div>
  <h3>
    Early History
  </h3>
  <p>
    During the establishment of Hogwarts in the First millennium A.D., Salazar Slytherin co-existed peacefully with the three other founders initially, but as time passed, he became increasingly adamant about his disapproval of the acceptance of Muggle-borns at Hogwarts. Disagreeing with the other Hogwarts founders about the matter, Slytherin left the school. According to legend, before he left, Slytherin created a secret chamber deep underground in Hogwarts Castle — known as the Chamber of Secrets. That Chamber was home to a monster — a Basilisk — that was allegedly supposed to purge the school of all Muggle-borns. Only the Heir of Slytherin could open the Chamber of Secrets, through the use of Parseltongue. Over the centuries after Slytherin's death, many Headmasters conducted searches of the school to find the Chamber. None, however, were successful, and the Chamber was dismissed as a mere legend by many. Until it was opened years later.
  </p>
  <h4>
    Openings
  </h4>
  <button id="loginButton" routerLink="/login">Return</button>
</div>
