div {
  color: rgb(7, 8, 7);
  text-shadow: 2px 2px rgb(47, 243, 7);
  font-size: 22px;
  font-weight: 700;
  background-color: transparent;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 100px;
  padding: 10px;
  margin-top: 30px;
  text-align: center;
  color: rgb(9, 32, 3);
  text-shadow: 4px 4px rgb(45, 245, 5);
}

h2 {
  font-size: 20px;
  font-style: italic;
}

h3 {
  font-size: 30px;
  font-weight: bold;
  text-shadow: 2px 2px rgb(45, 245, 5);
  background-color: transparent;
}

h4{
  background-color: transparent;
}
