


mat-form-field{
  text-align: center;
  width: 300px;
  font-size: 25px;
  margin-left: 8px;
  color: black;
  text-shadow: 3px 3px green;
  padding: 0px;
}
input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
mat-select {
  width: 200px;
  font-size: 25px;
  color: black;
  text-shadow: 3px 3px green;
  padding: 0px;
  display: flex;
  flex-direction: row;


}
mat-label{
  color: black;
  text-shadow: 3px 3px green;
  text-align: center;
}

#registrationSubmit {
  margin-left: 30px;
}

#secretButton {
  margin-top: 30px;
  width: 75px;
  height: 55px;
}

h3 {
  font-size: 100px;
  padding: 10px;
  margin: 0px;
  text-align: center;
  color: black;
  text-shadow: 4px 4px rgb(138, 137, 137);
}
