.mat-label {
  color: antiquewhite;
  text-shadow: 3px 3px rgb(146, 129, 88);
  text-align: center;
}
.mat-form-field{
  text-align: center;
  font-size: 25px;
  color: black;
  text-shadow: 3px 3px green;
  padding: 0px;
}

.mat-select {
  width: 200px;
  font-size: 25px;
  color: black;
  text-shadow: 3px 3px green;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.mat-label{
  color: black;
  text-shadow: 3px 3px green;
}
button {
  margin-left: 30px;
}
